
 /*==========\
| Main design |
 \==========*/
*{
    font-family: 'Dancing Script', cursive;
    margin:0;
    padding:0;
    user-select:none;
}
body {
    overflow: hidden; /*to remove when creating other versions */
    font-size:25px;
    background-color: rgb(10, 4, 4);
    color:rgb(172, 111, 42);
}


 /*============================\
| Header (Logo and Description) |
 \============================*/
.head {
    display:flex;
    flex-direction: row;
    margin-top:10px;
}
.description {
    max-width: 800px;
    margin:auto;
    padding-right: 20px;
}
.mainLogo {
    max-width: 500px;
    display:block;
    margin-left:10px;
    margin-right:50px;
}


 /*========\
| Caroussel |
 \========*/
.caroussel{
    width: 90%;
    margin: auto;
    position: fixed;
    bottom: 0;
    margin-bottom: 100px;
}
.slideshow{
    margin: auto;
    height: 200px;
    display:flex;
}
.caroussel-picture{
    margin-left: 5px;
    margin-right: 5px;
    height: 200px;
}
.caroussel-picture:hover{
    z-index: 100;
    border: 50px red solid;
    transition: border 0.5s;
}

 /*================\
| Users description |
 \================*/
.users-desc{
    z-index: -1;
    overflow: hidden;
    position: fixed;
    width:100%;
    display: flex;
    flex-direction: row;
    bottom:0;
    justify-content: space-around;
}
.user-desc{
    position: relative;
    bottom: -500px;
    border:2px black solid;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    background-color: rgb(12, 5, 5);
    width: 28%;

    transition: bottom 0.2s;
}
#desc1:hover, .users-desc {
    z-index: auto;
    bottom:0;
    transition: bottom 0.5s;
}
#desc2:hover {
    z-index: auto;
    bottom:0;
    transition: bottom 0.5s;
}
#desc3:hover {
    z-index: auto;
    bottom:0;
    transition: bottom 0.5s;
}
.user-desc h1 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.user-desc p {
    padding-bottom: 20px;
}