html {
    overflow:hidden;

}
*{
    font-family: 'Dancing Script', cursive;
    margin:0;
    padding:0;
}

body {
    font-size:25px;
    background-color: rgb(10, 4, 4);
    color:rgb(172, 111, 42);
}

.head {
    display:flex;
    flex-direction: row;
    margin-top:10px;
}
.description {
    max-width: 800px;
    margin:auto;
    padding-right: 20px;
    user-select: none;
}

.mainLogo {
    max-width: 500px;
    display:block;
    margin-left:10px;
    margin-right:50px;
}


.users-desc{
    overflow: hidden;
    position: fixed;
    width:100%;
    display: flex;
    flex-direction: row;
    bottom:0;
    justify-content: space-around;
}

.user-desc{
    position: relative;
    bottom: -500px;
    border:2px black solid;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    background-color: rgb(12, 5, 5);
    width: 28%;

    transition: bottom 0.2s;
}

#desc1:hover {
    bottom:0;
    transition: bottom 0.5s;
}
#desc2:hover {
    bottom:0;
    transition: bottom 0.5s;
}
#desc3:hover {
    bottom:0;
    transition: bottom 0.5s;
}

.user-desc h1 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.user-desc p {
    padding-bottom: 20px;
}